notebooks/.ipynb_checkpoints/beestrong-checkpoint.ipynb
notebooks/.ipynb_checkpoints/agripol-checkpoint.ipynb
notebooks/.ipynb_checkpoints/agripol-checkpoint.ipynb
notebooks/.ipynb_checkpoints/beestrong-checkpoint.ipynb
notebooks/.ipynb_checkpoints/test-checkpoint.ipynb
notebooks/test.ipynb
